.modalError {
    background-color: var(--background);
    width: 15%;
    height: 10%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: fixed;
    right: 0;
    top: 20%;
    box-shadow: 2px 2px 5px 1px var(--fontSeccondary);
    animation-name: error;
    animation-direction: normal;
    animation-duration: 1s;
}

@keyframes error {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0px);

    }
}



.background {
    width: 95%;
    height: 60%;
    border-radius: 3px;
    position: relative;
    left: 5%;
    top: 20%;
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textError {

    color: var(--fontSeccondary);
}