.container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 150px;
}
.menu {
    flex: 0 0 25%;
    max-width: 25%;
    line-height: 1.375;
    padding-right: 15px;
}
.menuWrapper {
    width: 100%;
    padding: 20px 0;
    background-color: #EDF1F2;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu a {
    display: block;
    cursor: pointer;
    padding: 5.5px 18px 5.5px 15px;
    border-left: 3px solid transparent;
}
.menu strong {
    display: block;
    padding: 5.5px 18px 5.5px 15px;
    font-weight: 500;
    border-left: 3px solid #F9C801;
}
.info {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 15px;
}
.blockDashboardInfo {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.blockTitle {
    margin-bottom: 27.5px;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 10px;
    font-weight: 500;
    background: #f1f1f1;
}
.boxInformation {
    float: left;
    width: 46%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px 10px;
}
.boxTitle {
    display: inline-block;
    margin: 0 0 11px;
    font-weight: 500;
}
.boxUserType {
    float: right;
    width: 46%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px 10px;
}
.tableWrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 22px;
}
.tableOrderItems {
    width: 100%;
    border-style: hidden;
    border-collapse: collapse;
}
.tableOrderItems thead th {
    font-weight: 500;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 10px;
    background: #f1f1f1;
}
.tableOrderItems tr td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: auto;
}
.pageTitleWrapper {
    font-weight: 400;
    line-height: 1.375;
    max-width: 1300px;
    margin: 0 auto;
}
.pageTitle {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 10px 0;
    text-align: left;
}
.tableOrderItems tr td span {
    display: none;
}
.price {
    font-weight: 500;
    display: block !important;
}
.info select, .info input {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 9px 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: fit-content;
}
.info input {
    margin-right: 10px;
}
.filters {
    float: right;
}
.info button {
    width: 50%;
    color: var(--fontPrimary);
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px auto;
    background-color: var(--background);
    border: transparent;
    border-radius: 3px;
    cursor: pointer;

    transition: 0.2s;
}
.info button:hover {
    background-color: #dcb003;
}
.br {
    display: none;
}
@media screen and (max-width: 1000px) {
    .container {
        display: block;
    }
    .menu, .info {
        width: 100%;
        max-width: 100%;
        float: left;
    }
    .menu {
        margin-bottom: 15px;
        padding-right: 0;
    }
    .info {
        padding-left: 0;
    }
    .boxInformation, .boxUserType {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .tableOrderItems thead th {
        display: none;
    }
    .tableOrderItems tr td {
        display: block;
        border-bottom: none;
    }
    .tableOrderItems tr td span {
        display: inline-block;
        margin-right: 5px;
        font-weight: 500;
    }
    .container tr {
        border-bottom: 2px solid #CCC;
        padding-bottom: 20px;
    }
    .br {
        display: block;
    }
    .filters {
        text-align: center;
    }
}