.container {
    width: 100%;
    max-width: 1300px;
    height: 240px;
}
.detailLink {
    text-decoration: none;
    color: var(--fontPrimary);
}
.item {
    margin: 0 15px;

    transition: 0.2s;
}
.item:hover {
    transform: scale(1.08);
}
.img {
    position: relative;
    width: 190px;
    height: 190px;
    object-fit: scale-down;
}
.name {
    font-size: 1em;
}
.price {
    font-size: 1.2em;
}
.rate {
    display: flex;
    justify-content: center;
    color: var(--background);
}

@media screen and (max-width: 1120px) {
    .container:first-child {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .container:last-child {
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .container:nth-child(3n) {
        display: none;
    }
    .img {
        width: 100%;
        max-height: 150px;
        height: auto;
    }
}