.container {
    margin: 100px auto;
    padding: 50px;
    width: calc(450px - 100px);
    height: auto;
    background-color: #EDF1F2;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 12px;
}

@media screen and (max-width: 650px) {
    .container {
        width: calc(100% - 100px);
    }
}